<div class="devise-frame">
  <h1><%= current_user.name %>さん</h1>
  <h1 class="line-height">登録ありがとうございます!!</h1>
  <div class="devise-inner">
    <h1 class="line-height">この画面を提示すればカット代５％OFF!!</h1>
    <%= @date1 %>
  </div>
</div>
