<% if resource.errors.any? %>
<div id="error_explanation">
  <ul class="message_validates">
    <% resource.errors.full_messages.each do |message| %>
    <li class="message"><%= message %></li>
    <% end %>
  </ul>
</div>
<% end %>
