<!--1-->
<section class="main-section-top">
  <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
</section>
<!--2-->
<section class="main-section">
  <div class="main-store-logo-mark">
    <%= image_tag '/assets/store-logo-mark2.png', :alt => 'store-logo-mark2' %>
  </div>
</section>
<!--3-->
<section id="target" class="main-section">
  <div class="content-width" id="information">
    <div class="main-title">
      <h1>INFORMATION</h1>
    </div>
    <ul class="rig">
      <li class="tt">WEB予約</li>
      <li>
        <%= link_to '予約はこちらから', reservations_path, class: "btn btn--orange mt-2 mb-4" %>
      </li>
      <li class="tt">住所</li>
      <li class="mb-4">
        〒658-0081 神戸市東灘区田中町3-18-21
      </li>
      <li class="tt">営業時間</li>
      <li class="mb-4">
        平日 9:30~19:00
        <br>
        土日祝 9:00~19:00
        <br>
        パーマ・カラー受付/18:00まで
      </li>
      <li class="tt">定休日</li>
      <li class="mb-4">
        毎週月曜＆第２・第３月火連休
        <br>
        祝日と定休日が重なった時は営業、翌営業日を振替休日にします
      </li>
    </ul>
  </div>
</section>
<!--4-->
<section id="target" class="main-section">
  <div class="content-width" id="map">
    <div class="main-title">
      <h1>MAP</h1>
    </div>
    <iframe src="https://maps.google.co.jp/maps?output=embed&q=パスタイム"
      style="height:320px; width:100%; margin:2em auto;"></iframe>
  </div>
</section>
<!--5-->
<section class="main-section">
  <div class="xslider_wrap" ontouchstart="">
    <div class="xslider1">
      <div><img src="/assets/store2.jpg" alt="store2"></div>
      <div><img src="/assets/store3.jpg" alt="store3"></div>
      <div><img src="/assets/store4.jpg" alt="store4"></div>
      <div><img src="/assets/store5.jpg" alt="store5"></div>
      <div><img src="/assets/store6.jpeg" alt="store6"></div>
    </div>
    <div class="xslider2">
      <div><img src="/assets/store2.jpg" alt="store2"></div>
      <div><img src="/assets/store3.jpg" alt="store3"></div>
      <div><img src="/assets/store4.jpg" alt="store4"></div>
      <div><img src="/assets/store5.jpg" alt="store5"></div>
      <div><img src="/assets/store6.jpeg" alt="store6"></div>
    </div>
  </div>
</section>
