  <div class="row">
    <div class="content-width">
      <div class="main-title">
        <h1 class="line-height">NEW RESERVATION</h1>
      </div>
      <%= week_calendar do |date, reservations| %>
        <%= date.day %>
      <% end %>
      <%= link_to 'ホームページへ戻る', root_path, class: 'reservation-title' %>
    </div>
  </div>
